.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  button {
    margin-top: auto;
    width: 100%;
    padding: 1px;
    box-sizing: border-box;

    display: block;
    text-align: center;

    white-space: normal;        // allows wrapping
    overflow-wrap: break-word;  // breaks long words if needed
    word-break: break-word;

    font-size: 14px; // optional: helps prevent overflow
  }
}